<section class="w-75  mx-auto">
<div class="row align-items-center bg-light mt-5 mb-5 shadow">
 
    <div class="col-md-4">

        <owl-carousel-o [options]=" productDetailsSliderOption">

            <ng-container *ngFor="let item of productDetails.images">
              <ng-template carouselSlide >
                <img [src]="item" class="w-100">
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>
    </div>
    <div class="col-md-8">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="h5">{{productDetails.title}}</h3>
            <i *ngIf="!wishListData.includes (productDetails._id)" (click)="addWish(productDetails._id)" class="fa-regular fa-heart fs-2 mb-0 cursor-pointer"></i>
            <i *ngIf="wishListData.includes (productDetails._id)" (click)="removewish(productDetails._id)" class="fa-solid fa-heart text-danger fs-2 mb-0 cursor-pointer"></i>   

          </div>
           

            <p class="text-muted mb-0">{{productDetails.description}}</p>
            <h4 class="h6">{{productDetails.category.name}}</h4>
            <div class="d-flex justify-content-between">
                <p>{{productDetails.price | currency:'EGP'}}</p>
                <div>
                     <i class="fas fa-star rating-color"></i>
                      <span class="text-muted"> {{productDetails.ratingsAverage}}

                      </span>
                     </div>

            </div>
            <button (click)="addCart(productDetails._id)" class="btn-main w-100"><i class="fa-solid fa-cart-shopping text-white"></i>Add Product</button>

        </div>

    </div>

</div>
</section>